{:paths ["src" "resources"]
 :deps {com.datomic/ion {:mvn/version "0.9.26"}
        org.clojure/clojure {:mvn/version "1.9.0"}
        org.slf4j/jcl-over-slf4j #:mvn{:version "1.7.14"},
        com.fasterxml.jackson.core/jackson-core #:mvn{:version "2.9.5"},
        org.slf4j/jul-to-slf4j #:mvn{:version "1.7.14"},
        org.slf4j/slf4j-api #:mvn{:version "1.7.14"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.63"}
                     com.datomic/ion-dev {:mvn/version "0.9.176"}
                     ;; --- To send Datoms via HTTP ---
                     http-kit {:mvn/version "2.2.0"}
                     ;; --- For NREPL
                     cider/cider-nrepl {:mvn/version "0.17.0"}
                     org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}}}

