{:allow [
         ;; Web applications
         cecab.tools.shushupi/create-db
         cecab.tools.shushupi/apply-tx]
 :lambdas
 {:shushupi-create-db
  {:fn cecab.tools.shushupi/create-db
   :description "Initialize an Ion DB prior migration"}
  ;;--- Processor for datoms --
  :shushupi-apply-tx
  {:fn cecab.tools.shushupi/apply-tx
   :description "Process the datoms received and apply them to Ion"}}
 :app-name "kerapp"}
